<h2>Customer management Page</h2>

<!--'data' kay ang variable for all User sa database
<% if(data.length >0) %> <% data.forEach(element => { %>
<div><%=element.name %></div>
<div><%=element.email %></div>
<% }) %> -->


<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
      <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
              <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="h3">B<span class="d-none d-sm-inline">eta</span></span>
                  <span class="h3">M<span class="d-none d-sm-inline">arket</span></span>
               </a>
              <hr class="border-top-5 border-text opacity-sm-100" />
              <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link px-sm-0 px-2 text-white">
                          <i class="fs-5 bi-house-door"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  
                  <li>
                      <a href="/admin/product-management" class="nav-link px-sm-0 px-2 text-white">
                          <i class="fs-5 bi-cart4"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
                  </li>
                  <li>
                      <a href="/admin/customer-management" class="nav-link px-sm-0 px-2 text-white">
                          <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-sm-0 px-2 text-white">
                          <i class="fs-5 bi-cart-dash"></i><span class="ms-1 d-none d-sm-inline">Order</span> </a>
                  </li>
                  
              </ul>
              <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/img/profile-pic.svg" width="28" height="28" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">User</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <!--CONTENT-->
      <div class="col d-flex flex-column h-sm-100">
          <main class="row overflow-auto">
              <div class="col pt-4">
                  <h1>Template</h1>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
                    possimus optio ab impedit neque reprehenderit.
                  </p>
                  <hr class="border border-top-5 border-dark opacity-100" />
                  <div class="container text-tertiary d-flex flex-row my-4 position-relative">
                    <h5>Sort</h5>
                    <h5>Filter</h5>
                    <h5>Sort</h5>
                    <h5>Searchbar</h5>
                  </div>
                  <div class="container-fluid">
                    <table class="table bg-secondary text-tertiary">
                      <thead>
                        <tr>
                          <th scope="col">Col 1</th>
                          <th scope="col">Col 2</th>
                          <th scope="col">Col 3</th>
                          <th scope="col">Col 4</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        <tr>
                          <th scope="row">1</th>
                          <td>Test 1</td>
                          <td>Test 2</td>
                          <td>Test 3</td>
                        </tr>
                        <% if(data.length >0) %> <% data.forEach(element => { %>
                        <tr>
                          <td><%=element.name %></td>
                          <td><%=element.type %></td>
                          <td><%=element.cost %></td>
                          <td><%=element.stock %></td>
              
                          <td>
                            <button
                              class="id"
                              value="<%=element.id%>"
                              data-bs-toggle="modal"
                              data-bs-target="#editModal"
                            >
                              Edit
                            </button>
              
                          </td>
                          <!--Button for for editting this data and should be linked to MODAL-->
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-end">
                        <li class="page-item">
                          <a class="page-link bg-dark text-white" href="#"
                            >Previous</a
                          >
                        </li>
                        <li class="page-item">
                          <a class="page-link bg-dark text-white" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link bg-dark text-white" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link bg-dark text-white" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link bg-dark text-white" href="#">Next</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sunt dicta perferendis? Cumque unde quibusdam voluptatum sequi nobis, architecto ab voluptates. Veritatis suscipit beatae quam asperiores reprehenderit laborum in, error architecto placeat nam repellendus labore rerum quidem maiores. Quidem debitis fuga voluptatibus omnis facere odit animi aliquid assumenda?</p>
                  
              </div>
          </main>
      </div>
  </div>
</div>


<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header px-auto bg-dark">
        <h5 class="modal-title" id="editModalLabel">Edit Customer</h5>
      </div>
      <div class="modal-body">
        <form action="/admin/customer-management?_method=PUT" method="POST">
          <input type="hidden" id="id" name="id" required />
          <!--ROW FOR NAME-->
          <div class="row justify-content-center mb-md-1">
            <div class="col-10 col-md-5 m-2">
              <label class="mb-md-2 me-2" for="name">Name: </label>
              <input type="text" id="name" name="name" />
            </div>
          </div>
          <!--ROW FOR EMAIL-->
          <div class="row justify-content-center mb-md-1">
            <div class="col-10 col-md-5 m-2">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" />
            </div>
          </div>
          <!--Modal Footer-->
          <div class="row justify-content-center px-1">
            <div class="col-3">
              <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Close</button>
            </div>
            <div class="col-3">
              <button type="submit" class="btn btn-dark px-4">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/script/getButton.js"></script>
