<%- include('../partials/header'); %>
<a href="/">Homepage</a>
<!--HEADER SECTION-->
<div class="container-fluid bg-dark py-5 border-2">
  <div class="container-fluid px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Buy it Now!</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Be a Beta, buy a beta product!
      </p>
    </div>
  </div>
</div>
<div class="container text-center">
  <h1 class="py-4">Product Overview</h1>
  <hr class="border border-3 border-dark border-solid opacity-100">
</div>



<div class="container-fluid p-0">
  <!--SHOP SECTION-->
  <section class="pb-5">
    <% if(data){%>
    <div class="container-fluid px-4 px-lg-5 mx-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 p-3 align-items-center justify-content-evenly"
      >
        <div class="col m-4">
          <div class="card h-100">
            <img src="<%=data.photoUrl%>" alt="<%=data.name%>" />
          </div>
          
        </div>
        <div class="col m-4 align-self-center justify-content-between">
          <div class="row p-3">
            <div class="col my-5">
              <h1><%- data.name%></h1>
              <h4><%- data.description%></h4>
              <h4>Type: <%- data.type%></h4>
              <h5>Cost: &#8369;<%- data.cost %>.00</h5>
            </div>
            <div class="col my-5">
              <form action="/shop/<%=data.id%>" method="post">
                <label class="my-2" for="quantity">Quantity: </label>
                <input type="number" name="quantity" id="quantity" min="1" max="<%=data.stock %> " required />
                <input type="number" name="cost" value="<%=data.cost%>" hidden />
                <input type="number" name="product" value="<%=data.id%>" hidden />
                <button class="bg-dark text-light border-0 rounded-3 my-3" type="submit">Add to cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } else {%>
    <h1>Product is not availabe</h1>
    <% } %>
  </section>
</div>
<%- include('../partials/footer'); %>